/*リセット*/
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,*::before,*::after{box-sizing:border-box}*{margin:0}body{line-height:1.5;-webkit-font-smoothing:antialiased}img,picture,video,canvas,svg{display:block;max-width:100%}input,button,textarea,select{font:inherit}p,h1,h2,h3,h4,h5,h6{overflow-wrap:break-word}#root,#__next{isolation:isolate}

/*全体*/
body{
	 padding-top: 120px;
}
header{
	box-sizing: border-box;
}
header.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 1000;
	background-color: #1B5678;
}
.header_container{
	max-width: 1440px;
	padding: 0px 40px 0px 40px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
}
h1{
	font-size: 36px;
	color: #fff;
	font-weight: 800;
}
.login_btn{
	background: #FFF;
	display: inline-block;
	border-radius: 4px;
	text-decoration: none;
	color: #000;
	padding: 16px 40px 16px 40px;
	font-size: 18px;
}
.content{
	max-width: 1440px;
	margin:0 auto;
}
.entry h2{
	font-size: 36px;
	font-weight: 400;
	text-align: center;
	padding: 60px 0;
	margin:0;
}
.entry_form{
	width: 480px;
	margin:0 auto;
}
.form_in{
	margin-bottom: 10px;
}
.form_in label{
	font-size: 12px;
	color: #5b5b5b;
}
.form-field{
	border: 1px solid #5b5b5b;;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    display: block;
    padding: 7px 0;
    width: 100%;
    font-size: 16px;
}
.entry_btn{
    width: 232px;
    height: 53px;
    border-radius: 4px;
    background: #1B5678;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.form_in_btn{
	text-align: center;
	padding: 20px 0;
}
.message_error{
	font-size:12px;
	color: red;
}
footer{
	box-sizing: border-box;
}
footer.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	z-index: 1000;
	background-color: #1B5678;
}
.footer_container{
	max-width: 1440px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}
.footer_container p{
	color: #fff;
	margin:0;
}