<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!-- 共通header -->
<head th:replace="~{common-meta-header :: meta_header('ログイン',~{::link},~{::script})}"></head>
	
    <!-- このページ固有で読み込むCSS/JSあれば以下に記載 -->
</head>
<body>
    <!-- body header共通部品を呼び出す -->
	<div th:replace="~{common-header-login :: header}"></div>
	<main>
		<section>
			<div class="entry content">
			<h2>ログイン</h2>
				<div class="entry_form">
					<form th:action="@{/login}" th:method="post">
						<!-- エラーメッセージ -->
						<p th:if="${param.error}" class="message_error">メールアドレス、もしくはパスワードが間違っています</p>
						
						<div class="form_in">
							<label for="emailInput">メールアドレス</label>
							<input type="text" id="emailInput" name="username" class="form-field required autofocus" th:value="*{email}">
						</div>
						<div class="form_in">
							<label for="passwordInput">パスワード</label>
							<input type="password" name="password" id="passwordInput" class="form-field required" th:value="*{password}">
						</div>
						<div class="form_in_btn">
							<input type="submit" value="ログインする" class="entry_btn">
						</div>
					 </form>
					 <div class="form_in_btn">
						<input type="submit" onclick="window.location.href='/signin'" class="entry_btn" value="新規登録">
					 </div>
				 </div>
				 
			 </div>
		 </section>
	 </main>
	 <!-- body footer共通部品を呼び出す -->
	 <div th:replace="~{common-footer :: footer}"></div>
</body>
</html>