<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 共通header -->
<head th:replace="~{common-logout :: meta_header('top',~{::link},~{::script})}">
    <!-- (2)このページ固有で読み込むCSS/JSあれば以下に記載 -->
    <!--チャート用JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
        integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
        crossorigin="anonymous"></script>
</head>
<body>
    <!-- body header共通部品を呼び出す -->
    <div th:replace="~{common-logout :: header}"></div>
    <main>
        <section>
            <div class="container">
                <div class="container-inner">
                    <div class="portfolio_container">
                        <div class="photo_content">
                            <div class="user_photo"><img th:src="@{/img/profile_photo.jpg}" alt="プロフィール写真"></div>
                            <p th:text="${userProfileEdit.name}" class="username"></p>
                        </div>
                        <div class="profile_content">
                            <h2>自己紹介</h2>
                            <div class="profile_txt">
                                <p th:text="${userProfileEdit.selfIntroduction}"></p>
                                <button type="button" onclick="location.href='/profile_edit'" class="entry_btn">自己紹介を編集する</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="container-inner">
                    <div class="study_container">
                        <h2>学習チャート</h2>
                        <button type="button" onclick="location.href='/skill_edit'" class="entry_btn">編集する</button>
                    </div>
				</div>

                    <div class="chart_container">
                        <div class="chart">
							<!--ここにチャートが描画-->
                            <canvas id="myChart"></canvas>
                        </div>

                        <script th:inline="javascript">
                            /*<![CDATA[*/
							// ロード時に実行　modelからデータを取得
							window.onload = function() {
								// 
							    var labels = ["先々月", "先月", "今月"];
								// カテゴリごとの学習時間データをJavaScript変数に格納
							    var categoryStudyTimes = /*[[${categoryStudyTimes}]]*/ {};
							
								// カテゴリごとにデータセットを作成
							    const datasetsData = Object.keys(categoryStudyTimes).map(category => {
							        return {
							            label: category,
										data: categoryStudyTimes[category],
							            backgroundColor: getColor(category),
							            borderColor: getColor(category),
							            borderWidth: 1
							        };
							    });
								// チャートデータの構成
                                const data = {
                                    labels: labels,
                                    datasets: datasetsData
                                };
								// チャートの設定
                                const config = {
                                    type: 'bar',
                                    data: data,
                                    options: {
                                        responsive: true,
                                        plugins: {
                                            legend: {
                                                position: 'top',
                                            },
                                            title: {
                                                display: true,
                                                text: 'Chart.js Bar Chart'
                                            }
                                        },
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                };
								// カテゴリごとの色
                                function getColor(categoryName) {
                                    const colors = {
                                        'バックエンド': 'rgba(243, 181, 194, 0.7)',
                                        'フロントエンド': 'rgba(247, 209, 170, 0.7)',
                                        'インフラ': 'rgba(250, 230, 181, 0.7)',
                                    };
                                    return colors[categoryName] || 'rgba(201, 203, 207, 0.7)'; // デフォルト色
                                }
								// チャートの作成
                                const ctx = document.getElementById('myChart').getContext('2d');
                                const myChart = new Chart(ctx, config);
                            }
                            /*]]>*/
                        </script>
                    </div>
               
            </div>
        </section>
    </main>
    <!-- body footer共通部品を呼び出す -->
    <div th:replace="~{common-logout :: footer}"></div>
</body>
</html>
